{% extends "layout.html" %}


{% block main %}


<h1 class="text-body-emphasis">Historical Performance</h1>
<br>
<div class="text-start">
    <a class="btn btn-sm active" href="/history">
        <span data-feather="bar-chart-2" class="align-text-bottom"></span>
        History
    </a>

    <button type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <span data-feather="calendar" class="align-text-bottom"></span>
        Season
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/search?r=0">Current Season</a></li>
        <li><hr class="dropdown-divider"></li>
        {% for s in seasons %}
            {% if s == season %}
                <li><a class="dropdown-item active" href="/search?y={{ s }}&r=0">{{ s }}</a></li>
            {% else %}
                <li><a class="dropdown-item" href="/search?y={{ s }}&r=0">{{ s }}</a></li>
            {% endif %}
        {% endfor %}        
    </ul>

    <button type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <span data-feather="hash" class="align-text-bottom"></span>
        Round
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/">Current Round</a></li>
        <li><hr class="dropdown-divider"></li>
        {% for r in rounds %}
            {% if r == round %}
                <li><a class="dropdown-item active" href="/search?r={{ r }}">Round {{ r }}</a></li>
            {% else %}
                <li><a class="dropdown-item" href="/search?r={{ r }}">Round {{ r }}</a></li>
            {% endif %}
        {% endfor %}            
    </ul>
    
</div>

<div class="row g-5">
    <div class="col-md-6">
        <br>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-start">Year</th>
                        <th class="text-start">Tipping Performance</th>
                        <th class="text-start">Percentage (%)</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr {% if row[0]=="Total" %}class="fw-bold text-uppercase"{% endif %}>
                        <td class="text-start">{{ row[0] }}</td>
                        <td class="text-start">{{ row[1] | int }} / {{ row[2] | int }}</td>
                        <td class="text-start">{{ row[3] }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
        <div class="col-md-6">
            <br>
            <h5>Tipping Performance (%) By Year</h5>
            <canvas class="my-4 w-100" id="myChart" width="800" height="400"></canvas>
        </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
<script>
    // Graphs
    const xValues = [{% for row in data %}{% if loop.index0 != 0 %},{% endif %}"{{ row[0] }}"{% endfor %}]
    const yValues = [{% for row in data %}{% if loop.index0 != 0 %},{% endif %}{{ row[3] }}{% endfor %}]

    new Chart("myChart", {
        type: 'line',
        data: {
            labels: xValues,
            datasets: [{
                data: yValues,
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {yAxes: [{ticks: {beginAtZero: false}}]},
            legend: {display: false}
        }
    })
</script>
{% endblock %}