{% extends "layout.html" %}


{% block round_dropdown %}
    {% for r in rounds %}
        {% if r == round %}
            <li><a class="dropdown-item active" href="/round?r={{ r }}">Round {{ r }}</a></li>
        {% else %}
            <li><a class="dropdown-item" href="/round?r={{ r }}">Round {{ r }}</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}


{% block year_dropdown %}
    {% for s in seasons %}
        {% if s == year %}
            <li><a class="dropdown-item active" href="/season?y={{ s }}">{{ s }}</a></li>
        {% else %}
            <li><a class="dropdown-item" href="/season?y={{ s }}">{{ s }}</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}


{% block main %}

<h1 class="text-body-emphasis">AFL Season {{ year }} </h1>
<div class="fs-5 col-md-8">
    <a class="btn btn-sm btn-outline-secondary" href="javascript:history.back()">
        <span data-feather="arrow-left-circle" class="align-text-bottom"></span>
    </a>

    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <span data-feather="calendar" class="align-text-bottom"></span>
        Round
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/">Current Round</a></li>
        <li><a class="dropdown-item" href="/season">Entire Season</a></li>
        <li><hr class="dropdown-divider"></li>
        {% for r in rounds %}
            {% if r == round %}
                <li><a class="dropdown-item active" href="/round?r={{ r }}">Round {{ r }}</a></li>
            {% else %}
                <li><a class="dropdown-item" href="/round?r={{ r }}">Round {{ r }}</a></li>
            {% endif %}
        {% endfor %}            
    </ul>

    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <span data-feather="calendar" class="align-text-bottom"></span>
        Season
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/season">Current Season</a></li>
        <li><hr class="dropdown-divider"></li>
        {% for s in seasons %}
            {% if s == year %}
                <li><a class="dropdown-item active" href="/season?y={{ s }}">{{ s }}</a></li>
            {% else %}
                <li><a class="dropdown-item" href="/season?y={{ s }}">{{ s }}</a></li>
            {% endif %}
        {% endfor %}        
    </ul>
    
</div>





{% set ns = namespace(round=0) %}
{% for row in data %}
    {% if ns.round != row[1] %}
        {% if ns.round != 0 %}
                    <tfoot>
                        <tr>
                        {% if ns.matches > 0 %}
                            <td class="fw-bold text-end" colspan="3">TOTAL</td>
                            <td class="w-bold text-start">{{ ns.tips }} / {{ ns.matches }}</td>
                        {% endif %}
                        </tr>
                    </tfoot>
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% set ns.round = row[1] %}
        {% set ns.tips = 0 %}
        {% set ns.matches = 0 %}
        <br>
        <h5 class="text-start">Round {{ row[1] }}</h5>

        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-end">Date</th>
                    <th class="text-center">Match</th>
                    <th class="text-center">Score</th>
                    <th class="text-start">Tipster</th>
                </tr>
            </thead>
            <tbody>
    {% endif %}
        <tr>
            <td class="text-end">
                {{ row[0] | pretty_date }}
            </td>
            <td class="text-center">
                <span class="fw-light">{% if row[3] is not none %} ({{ row[3] | pretty_odds }}) {% endif %}</span>
                <span class="fs-6 text {% if row[2] == row[6] %}text-success fw-semibold{% elif row[4] == row[6] %}text-danger{% endif %}">
                {{ row[2] }}</span> vs 
                <span class="fs-6 text {% if row[4] == row[6] %}text-success fw-semibold{% elif row[2] == row[6] %}text-danger{% endif %}">
                {{ row[4] }}</span>
                <span class="fw-light">{% if row[5] is not none %} ({{ row[5] | pretty_odds }}) {% endif %}</span>
            </td>
            <td class="text-center">
                {{ row[7] | pretty_none }}
            </td>
            <td class="text-start">
                {% if row[9] == 1 %}
                    {% set ns.tips = ns.tips + 1 %}
                    {% set ns.matches = ns.matches + 1 %}
                    <span class="text-success">&#x2705; {{ row[8] }}</span>
                {% elif row[9] == 0 %}
                    {% set ns.matches = ns.matches + 1 %}
                    <span class="text-danger">&#x274C; {{ row[8] }}</span>
                {% else %}
                    {{ row[8] | pretty_none }}
                {% endif %}
            </td>
        </tr>
{% endfor %}

        </tbody>
    </table>
</div>



{# <hr class="col-3 col-md-2 mb-5"> #}

<div class="row g-5">
      <div class="col-md-6">
        <h4 class="text-center">Season {{ year }}</h4>
        <div class="text-center fs-6 text">
            <span data-feather="bar-chart-2" class="align-text-middle"></span>
            {{ stats[1] | int }} out of {{ stats[2] | int }}
        </div>
        <div class="text-center fs-6 text">
            <span data-feather="pie-chart" class="align-text-middle"></span>
            {{ stats[3] }}%
        </div>
        <canvas class="my-4 w-100" id="myChart1" width="900" height="380"></canvas>
      </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
<script>
    const ctx1 = document.getElementById('myChart1')

    var data1 = {
        labels: ['Tipped correctly','Tipped incorrectly'],
        datasets: [{
            label: 'Season',
            data: {% set x = stats[2]-stats[1] %} [{{ stats[1] | int }},{{ x | int }}],
            backgroundColor: [
            'rgb(54, 162, 235)',
            'rgb(255, 99, 132)'
            ],
            hoverOffset: 4
        }]
      }

    const myChart1 = new Chart(ctx1, {type: 'doughnut', data: data1, options: {legend: {display: false} } })
</script>

{% endblock %}
